@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}
@keyframes dotScroll {
  0% {
    background-position-y: 240px;
  }
  100% {
    background-position-y: 0;
  }
}

body {
  font-family: "Poppins", sans-serif;
  animation: dotScroll 32s linear infinite;
  background-image: radial-gradient(circle, #272727 2.5px, transparent 0);
  background-size: calc(14.2857142857% - 1px) 100px;
  background-position: -60px 0;
  font-size: 16px;
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.headerSvg {
  position: absolute;
  bottom: 25px;
  animation: move 1s ease-out infinite alternate;
}

.titleSection {
  font-size: 60px;
  font-weight: 700;
  border: solid;
  border-width: 0 0 4px 0;
  padding-right: 100px;
}

.bulletPoints {
  margin-top: 40px;
  list-style: none;
  padding: 0;
}
.bulletPoints > li {
  display: flex;
  margin: 20px 0;
  gap: 10px;
}

.bulletPoints > li > h1 {
  font-size: 70px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.project__content {
  position: absolute;
}

header {
  animation: fade-up 2s ease-out;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
