---
import Check from "../assets/icons/Check.astro";
---

<ul class="bulletPoints mt-24 [&>li]:flex [&>li]:items-center">
  <li id="bulletPointOne">
    <Check />
    <h1>37projectsDone</h1>
  </li>
  <li id="bulletPointTwo"><Check /> <h1>FullStackDeveloper</h1></li>
  <li id="bulletPointThree"><Check /><h1>+7YearsCoding</h1></li>
</ul>
