---
import "../styles/navbar.css";
import Arrow from "../assets/icons/Arrow.astro";
---

<nav class="md:w-full absolute w-[200vw] hidden md:flex text-center">
  <a class="navTitle">Mariano Fonseca</a>
  <a href="#contact" class="items-center hidden md:flex"
    >get in contact <span class="ml-2 transition-all"><Arrow /></span></a
  >
</nav>
